<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<div class="logo"></div>
<div class="login-block">
    <h1>Register</h1>
    <input matInput placeholder="Your email" [(ngModel)]="user.email">
    <input type="password" matInput placeholder="Your password" [(ngModel)]="user.password">
    <button mat-raised-button color="primary" (click)="register()">REGISTER</button>
    <button mat-button routerLink="/login">I have Account</button>
</div>